<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Focustime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E079B4302D9E7CC000777490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E079B4402D9E7CC200777490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E079B44A2D9E7CC200777490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
